/* CSS RESET */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
}

/* Container Class */

.xl-container {
  max-width: 100%;
  margin: 0 auto;
}

.lg-container {
  max-width: 1200px;
  margin: 0 auto;
}
.sm-container {
  max-width: 1000px;
  margin: 0 auto;
}

/* Flex-SBTW */

.flex {
  display: flex;
  justify-content: space-between;
}

.flex-square {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-icon {
  display: flex;
  justify-content: start;
  gap: 6px;
  align-items: baseline;
}

/* Immagine Fluida */

.fluid {
  max-width: 100%;
  height: auto;
  display: block;
}

/* Margin-Bottom */
.mb-20 {
  margin-bottom: 20px;
}

.mb-30 {
  margin-bottom: 30px;
}

.mb-40 {
  margin-bottom: 40px;
}

/* Margin-Top */
.mt-20 {
  margin-top: 20px;
}

.mt-30 {
  margin-top: 30px;
}

.mt-40 {
  margin-top: 40px;
}

/* Margin-Right */

.mr-40 {
  margin-right: 40px;
}

/* Icone */

/* Check Color */
.fa-check {
  color: #0061ff;
}

/* Fake-Button */
.sm-btn-primary {
  color: white;
  background-color: #0061ff;
  padding: 5px 10px;
  text-decoration: none;
}
.m-btn-primary {
  color: white;
  background-color: #0061ff;
  padding: 7px 15px;
  text-decoration: none;
}
.lg-btn-primary {
  color: white;
  background-color: #0061ff;
  padding: 10px 20px;
  text-decoration: none;
}

.secondary-btn {
  color: black;
  border: 1px solid black;
  padding: 7px 15px;
}

/* Bolder */

.bolder {
  font-weight: bolder;
}

/* TXT Color */

.color-dr {
  color: #61082b;
}

.color-lg {
  color: lightgrey;
}
.color-blue {
  color: #0061ff;
}
.color-blk {
  color: black;
}

/* Background Color */

.bgc-g {
  background-color: #a2d39b;
}

.bgc-dr {
  background-color: #61082b;
}

.bgc-b {
  background-color: #0093ce;
}

.bgc-r {
  background-color: #ff1c1c;
}

.bgc-lr {
  background-color: #d5001f;
}

.bgc-db {
  background-color: #0d2481;
}

.bgc-lb {
  background-color: #b4d0e7;
}

.bgc-y {
  background-color: #ffd830;
}

.bgc-grey {
  background-color: #f5f5f5;
}
.bg-white {
  background-color: white;
}

/* Header Nav */
header {
  background-color: white;
  position: sticky;
  left: 0;
  right: 0;
  top: 0;
}

nav {
  min-height: 60px;
  /* align-items: center; */
  box-shadow: 1px 1px 12px lightgrey;
}

nav ul li {
  list-style: none;
  display: inline;
  margin: 0 15px;
}

Header a {
  text-decoration: none;
  color: black;
}

/* Nav Hover */

.navbar-left ul,
.navbar-right ul {
  display: flex;
  align-items: center;
  display: flex;
  justify-content: center;
}
.navbar-left ul li,
.navbar-right ul li {
  height: 100%;
  min-height: 60px;
  display: flex;
  align-items: center;
}

.navbar-left ul li:hover,
.navbar-right ul li:hover {
  border-bottom: 2px solid rgb(151, 151, 151);
  padding-top: 2px;
  min-height: 60px;
}

/* Header Jumbo */
h1 {
  font-size: 4rem;
  font-weight: bolder;
}
h2 {
  font-size: 2.5rem;
}

.jumbotron {
  background-color: #b4d0e7;
  height: 650px;
  padding: 100px 0;
}

.jumbotron-content {
  width: 100%;
  /* border: 2px solid black; */
}
.info-content {
  width: 40%;
}
.img-content {
  width: 60%;
}

.mini {
  margin-top: 50px;
}

.jumbotron p {
  font-size: 1rem;
  margin-bottom: 30px;
}

.jumbotron a {
  font-size: 1rem;
  text-decoration: none;
}
.m-btn-primary + p {
  margin-top: 30px;
  margin-bottom: 50px;
}

/* -------------Main------------- */

/* Pricing */
#circle {
  display: inline-block;
  height: 15px;
  width: 15px;
  border: 2px solid lightgrey;
  border-radius: 50%;
}

#circleblue {
  display: inline-block;
  height: 15px;
  width: 15px;
  border: 4px solid #0061ff;
  border-radius: 50%;
}

.mini-divisore {
  border: 1px solid lightgrey;
  width: 50px;
  margin-left: 20px;
}

.mini-divisore-lg {
  border: 1px solid lightgrey;
  width: 120px;
  margin-left: 20px;
}

.pricing {
  min-height: 900px;
  /* border: 2px solid black; */
  margin-top: 130px;
  display: flex;
  padding: 10px;
  flex-wrap: wrap;
  gap: 10px;
}

.col {
  flex-basis: calc(100% / 3 - 20px / 3);
  border: 1px solid lightgrey;
  min-height: 400px;
}

.col p {
  margin: 15px 0;
}

.col-large {
  flex-basis: 100%;
  border: 1px solid lightgrey;
  min-height: 100px;
}
.card-logo {
  border-bottom: 1px solid lightgrey;
  padding: 10px;
  min-height: 50px;
  text-align: center;
}
.card-content-top,
.card-content-bottom {
  padding: 30px 20px;
}
.card-content-top,
.card-content-bottom ul li {
  list-style: none;
}

ul li {
  list-style: none;
}

.card-content-large {
  height: auto;
  padding: 20px;
}

.col-left {
  flex-basis: 70%;
}

.col-right {
  flex-basis: 30%;
}

/* Partner-Section */

.partner {
  margin-top: 80px;
}

.search-img {
  max-width: 100%;
  height: auto;
  display: block;
  flex-basis: 60%;
}

.search-info {
  flex-basis: 40%;
  padding: 30px;
}

.partner a {
  text-decoration: none;
}

.search-info * {
  margin-bottom: 50px;
}

/* Business Plan Section */
.business-plan {
  min-height: 100px;
  margin-top: 80px;
  display: flex;
  padding: 20px;
  flex-wrap: wrap;
  gap: 10px;
}

.col-business {
  flex-basis: calc(100% / 3 - 20px / 3);
  min-height: 400px;
}

.col-business-lg {
  flex-basis: 100%;
}

.col-business * {
  margin-bottom: 20px;
}

/* Number Section */

.number {
  margin-top: 80px;
}
.number-info {
  width: 700px;
}
.number-info * {
  margin-bottom: 20px;
}

/* Partner Section */
.partner {
  margin-top: 80px;
  display: flex;
}

.row {
  width: calc(100vw / 3);
  height: calc(100vw / 3);
  flex-wrap: wrap;
}

.col-partner {
  width: 50%;
  height: 50%;
  border: 10px solid transparent;
}

/* Partner Hover */
.col-partner:hover {
  border-color: rgba(255, 255, 255, 0.235);
  padding-top: 2px;
  min-height: 58px;
}

.col-partner-lg {
  padding: 50px;
  height: 100%;
}

.col-partner-xlg {
  width: 100%;
  height: 396px;
  align-items: center;
}
.partner-lg-content {
  width: 100%;
  display: flex;
  align-items: start;
  justify-content: space-between;
  /* align-self: center; */
}

/* FAQ Section */
.faq {
  height: 600px;
  align-items: center;
}

.faq-content {
  /* border: 2px solid dodgerblue; */
  height: 350px;
  width: 100%;
}

.divisor {
  border: 1px solid #a6a6a6;
  margin-top: 40px;
  margin-bottom: 40px;
}

/* Footer */
footer {
  background-color: black;
  height: 500px;
}

.main-footer {
  display: flex;
  align-items: center;
  height: 400px;
}

.footer-box {
  height: 200px;
  width: 100%;
  display: flex;
}

.col-f {
  flex-basis: calc(100% / 5);
}

h3 {
  margin-bottom: 20px;
}
footer a {
  color: white;
  text-decoration: none;
}

footer ul li {
  margin-bottom: 15px;
}

.language {
  color: grey;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: flex-start;
}

.mini-divisor {
  border-top: 1px solid grey;
  width: 100px;
}

.italiano {
  display: flex;
  gap: 10px;
  align-items: center;
}

/* SVG CONVERTER */
.bianco {
  max-height: 200px;
  max-width: 200px;
  -webkit-filter: invert(100%);
  filter: invert(100%);
}
